body {
    font-size: .875rem;
    background-color: #f7f7f7;
  
  }

.navbar {
    background-color:#f7f7f7;
    margin-top: 25px;
}

img {
    width: 10%;
    height: auto;
}

#row1 {
    margin-top: 30px;
    margin-bottom: 50px;
    border: 1px groove;
    padding: 20px 20px;
}